<app-header></app-header>
<div class="Wrraper" [ngStyle] = "{'height': innerHeight}">
  <div class="Login">
    <div class="Login_wrraper">
      <h1>{{ 'Sign Out.Forgot Password?' | translate }}</h1>
      <form [formGroup]="forgotPassword" (ngSubmit)="forgotPasswordSub()">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="pi pi-envelope"></i></span>            
          </div>
          <input type="text" class="form-control" formControlName="email" placeholder="{{ 'Sign Out.Email' | translate }}">
        </div>
        
        <div class="form-group alert alert-success sucess" *ngIf="showMsgSuccess">
            <div class="col-xs-12">
              <p>
                <strong>{{successmsg}}</strong>
              </p>
            </div>
          </div>
          <div class="form-group alert alert-danger error" *ngIf="showMsgError">
              <div class="col-xs-12">
                <p>
                  <strong>{{errormsg}}</strong>
                </p>
              </div>
          </div>
        <div class="form-group text-right">
          <button type="submit" [disabled]="!forgotPassword.valid">{{ 'Sign Out.Submit' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="loaderWrraper"  *ngIf="loader">
    <div class="loader">
      <div class="outCircle">
        <div class="icon">
          <i class="pi pi-home"></i>
        </div>
      </div>
    </div>
    </div>
