@import "../../../../assets/scss/mixin";
@import "../../../../assets/scss/variable";

.chartTitle{
    text-align: center;
    color: rgba($color: $black, $alpha: 0.7);
    margin: 10px 0 20px;
    font-size: 24px;
    @include breakpoint(xs){
        font-size: 18px;
    }
}
.CashFlow{
    @include size(100%,auto);
    padding: 10px;
    display: flex;
    &_col-2{
        @include size(70px,auto);
        float: left;
        @include breakpoint(xs){
            @include size(50px,auto);
        }
        .arrow{
            justify-content: center;
                align-items: center;  
                display: flex;
                height: 100%;
            &_wrp{
                display: block;
                text-align: center;
                p{
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 500;
                    color: #808080;
                    margin: 0;
                }
                img{
                    width: 32px;
                }
                @include breakpoint(xs){
                    p{
                        font-size: 10px;
                    }
                    img{
                        width: 18px;
                    }
                    button{
                        padding: 0;
                    }
                }
            }
           
        }
    }
    &_col-8{
        @include size(calc(100% - 140px),auto);
        float: left;
        @include breakpoint(xs){
            @include size(calc(100% - 100px),auto);
        }
    }
    @include breakpoint(xs){
        padding: 10px 2px;
    }
}