@font-face {
    font-family: 'DINCond';
    src: url('DINCond-Black.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

// @font-face {
//     font-family: 'DINCond-MediumAlternate';
//     src: url('DINCond-MediumAlternate.woff2') format('woff2'),
//         url('DINCond-MediumAlternate.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'DINCond-LightAlternate';
//     src: url('DINCond-LightAlternate.woff2') format('woff2'),
//         url('DINCond-LightAlternate.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'DINCond';
//     src: url('DINCond-Bold.woff2') format('woff2'),
//         url('DINCond-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }

