<app-header></app-header>
<div class="Wrraper" [ngStyle] = "{'height': innerHeight}">
  <div class="Login">
    <div class="Login_wrraper">
      <h1>{{ 'Sign Out.Reset Password' | translate }}</h1>
      <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSub()">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="pi pi-lock"></i></span>   
            <div class="tooltip">
              <h6>{{ 'Sign Out.New Password' | translate }}</h6>
            </div>          
          </div>
          <input type="password" class="form-control" formControlName="newpassword" placeholder="{{ 'Sign Out.New Password' | translate }}">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="pi pi-lock"></i></span>   
            <div class="tooltip">
              <h6>{{ 'Sign Out.Confirm Password' | translate }}</h6>
            </div>          
          </div>
          <input type="password" class="form-control" formControlName="confirmpassword" placeholder="{{ 'Sign Out.Confirm Password' | translate }}">
        </div>

        <div class="form-group alert alert-success sucess" *ngIf="showMsgSuccess">
            <div class="col-xs-12">
              <p>
                <strong>{{successmsg}}</strong>
              </p>
            </div>
          </div>
          <div class="form-group alert alert-danger error" *ngIf="showMsgError">
              <div class="col-xs-12">
                <p>
                  <strong>{{errormsg}}</strong>
                </p>
              </div>
          </div>

        <div class="form-group text-right">
          <button type="submit" [disabled]="!resetPassword.valid">{{ 'Sign Out.Submit' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="loaderWrraper"  *ngIf="loader">
    <div class="loader">
      <div class="outCircle">
        <div class="icon">
          <i class="pi pi-home"></i>
        </div>
      </div>
    </div>
    </div>
