<app-header></app-header>
<div class="Wrraper" [ngStyle]="{'min-height': innerHeight}">
  <div class="Flexmls">
    <div class="container">
      <iframe src="assets/pdf/APC_Terms_&_Conditions.pdf" width="1200px" height="1300px"></iframe>
      <div *ngIf="agreeView">
        <p>By clicking the check, you agree to the statements made above. Please submit your confirmation to proceed.</p>
          <a [routerLink]="['/privacy']" routerLinkActive="active" (click)="setFromTOA()" href="javascript:void(0)"> View Privacy Policy</a>
          <br>
          <a [routerLink]="['/eula']" routerLinkActive="active" (click)="setFromTOA()" href="javascript:void(0)">View EULA</a>
        <div>
          <input type="checkbox" id="toaCheckInput" (click)="toaCheckValid()">&nbsp; I AGREE &nbsp;&nbsp;&nbsp;
          <input type="submit" [disabled]="!toaCheckAgree" class="btn btn-primary" value="Submit" (click)="toaCheckSubmit()">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loaderWrraper" *ngIf="loader">
  <div class="loader">
    <div class="outCircle">
      <div class="icon">
        <i class="pi pi-home"></i>
      </div>
    </div>
  </div>
</div>
