<app-header></app-header>
<div class="Wrraper">
  <div class="CaseStudy">
    <div class="container">
      <div class="jumbotron">
        <h1>cmaIQ Case Study #1</h1>
        <h2>Charleston SC brokerage uses cmaIQ to help their agents</h2>
      </div>
      <div class="CaseStudy_soar">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="CaseStudy_soar_agent">
              <div class="fullimg">
                <img src="assets/images/case-study.jpg" alt="">
              </div>
              <h3>Real Estate Office home sales soar with cmaIQ</h3>
              <h5>Charleston, SC agents adopt cmaIQ as a pricing tool to help
                buyers, sellers and investors better understand pricing.</h5>
              <p>The agents in the office believe in the tool that helps them more efficiently
                price homes for their clients and make more profits in less time. The results
                speak for themselves. Their listings are selling faster, selling closer to list
                price with fewer price changes, and at a lower failure rate. This new visual
                and interactive tool creates an advantage for agents and their clients.</p>
              <div class="marker">
                <div class="marker_col">
                  <div class="marker_col_circle">
                    <div class="circleno">19.3%<span class="queno">1</span></div>
                  </div>
                  <h4>DAYS ON MARKET</h4>
                  <h6>Office listings sold
                    <span>19.3%</span>
                    faster than their
                    competitors</h6>
                </div>
                <div class="marker_col">
                  <div class="marker_col_circle">
                    <div class="circleno">26.8%<span class="queno">2</span></div>
                  </div>
                  <h4>SALES PRICE TO LIST</h4>
                  <h6>Office listings sold
                    <span>26.8%</span>
                    closer to list price than
                    the market</h6>
                </div>
                <div class="marker_col">
                  <div class="marker_col_circle">
                    <div class="circleno">33.7% <span class="queno">3</span></div>
                  </div>
                  <h4>LOWER FAILURE RATE</h4>
                  <h6>Office listings had a
                    <span>33.7%</span>
                    lower failure rate than
                    the competition</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="CaseStudy_soar_apc">
              <div class="analysis">
                <img src="assets/images/Accurate1.png" alt="Accurate">
                <h4>Accurate</h4>
                <p>Algorithm allows
                  for analysis with
                  2.3% margin of
                  error</p>
              </div>
              <div class="analysis">
                <img src="assets/images/Current1.png" alt="Current">
                <h4>Powerful</h4>
                <p>Pricing tool to help
                  agents with buyers,
                  sellers and
                  investors</p>
              </div>
              <div class="analysis">
                <img src="assets/images/Powerful1.png" alt="Powerful">
                <h4>Current</h4>
                <p>Real-time local MLS
                  data with agent
                  input reflects
                  predictive analytics</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="CaseStudy_price">
        <h3>Full office integration of
          cmaIQ Pricing Tool</h3>
        <h5>New and experienced agents both value
          the advantages of cmaIQ</h5>
        <div class="pricing_tool">
          <div class="graph">
            <img src="../../../assets/images/pricing-tool.jpg" alt="Pricing tool">
          </div>
          <h2>“cmaIQ is revolutionary. It gets to
            the core of accurate pricing and
            gives me confidence in
            conveying value to my clients.”
            Shawn McKay - REALTOR®</h2>
        </div>
        <p>One of the most important tasks as a real estate
          agent is to price a home correctly for buyers,
          sellers, and investors. The challenge is to take
          the emotion out of the pricing decision and to
          provide evidence with accurate and current data
          to support the home valuation.</p>
        <p>The existing tools provided to real estate agents
          today to help them price homes fall into two
          methods. The first is made up of Automated
          Valuation Models (AVMs) that even consumers
          can find on-line. These AVMs can be wildly
          inaccurate. There is little to no input from
          experienced real estate agents and it solely
          relies on internal algorithms to select comps
          and determine value. The second method is
          one in which the agent comes up with their own
          systems and math to use along with generally
          fewer hand picked comps. This method can be
          very time consuming. It also lacks the ultimate
          accuracy desired and can be difficult to explain
          value to the client.</p>
        <p>The cmaIQ Pricing Tool was developed by real
          estate agents to combine the advantages of
          both methods. The agent is involved in
          selecting the comps but able to use a broader
          spectrum that provides the data required to
          make an accurate assessment. The algorithms
          in the background help the agent with adjusting
          the property value for seasonality and market
          conditions as well as features of the subject
          property. The program provides a visual display
          of the comps to help convey pricing to clients.</p>
        <p>The analytics help to explain the market trend and then calculate a suggested list price, projected
          number of days on the market, and probability of sale. The interactive analysis of a client’s property
          is completed in only minutes without an agent ever having to use a calculator.</p>
        <p>The development of this innovative pricing tool quickly caught the eye of agents in a Charleston, SC
          real estate firm. The office fully integrated the pricing tool in January 2018 to enable access for all of
          their agents. The results of the first year of use reflect the ability of the tool to help agents price more
          accurately and convey value to their clients. The numbers are superior across the board.</p>
        <p>The proof of the distinct advantages the tool has provided to the agents in the office is in the
          numbers. The knowledge of agents combined with the cmaIQ data and analytics drive the tool to
          accurately price homes in a matter of minutes. The cmaIQ presentation allows agents to convey to
          their clients market value and explain market conditions, seasonality, and time expected to sell.</p>
      </div>
      <div class="CaseStudy_suggestion">
        <div class="CaseStudy_suggestion_col">
          <div class="provide">
            <h4>19.3%</h4>
          </div>
          <h3>cmaIQ shows how many days a
            house should take to receive a
            contract at the correct list price
            that allows the agent to react
            quickly to market dynamics.</h3>
          <h3>The agents sold their listings
            19.3% faster than their
            competition.</h3>
        </div>
        <div class="CaseStudy_suggestion_col">
          <div class="provide">
            <h4>26.8%</h4>
          </div>
          <h3>cmaIQ provides a suggested list
            price so that the agent and
            seller are pricing accurately to
            find a strike point that will
            attract buyers and offers.</h3>
          <h3>The agents sold their listings
            for 26.8% closer to list price
            than their competition.</h3>
        </div>
        <div class="CaseStudy_suggestion_col">
          <div class="provide">
            <h4>33.7%</h4>
          </div>
          <h3>
            cmaIQ provides analytical tools
            to help show clients the
            probability of sale at distinct
            list prices reducing the
            number of expired listings.
          </h3>
          <h3>The agents sold their listings
            with a 33.7% lower failure
            rate than their competition.</h3>
        </div>
      </div>
      <div class="CaseStudy_producer">
        <div class="row no-mr">
          <div class="col-xs-12 col-sm-9">
            <h2>TRENTON SECKINGER - TOP PRODUCER</h2>
            <p>“The cmaIQ is without a doubt the most helpful, time saving tool I have
              been able to use in the business. The speed in which this tool lets
              me accurately price homes in a logical, mathematical fashion, allows
              for easy, candid conversations around price. Not only with my
              buyers and sellers, but also other agents as well.</p>

              <p>Whether making an offer on a home or pricing one to list, cmaIQ
                allows me to determine accurate price on historic sales in under 5
                minutes. Now that I utilize this tool daily, I don't know how I was able
                to operate my business without it. This tool is a game changer.”</p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="trenton">
              <img src="../../../assets/images/trenton.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="CaseStudy_analytic">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="search">
              <img src="../../../assets/images/search-criteria.jpg" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="data">
              <h2>cmaIQ</h2>
              <h3>DATA ANALYTICS</h3>
              <h4>To learn more on the
                development and use
                of the cmaIQ Pricing
                Tool for your local
                MLS and office
                please go to</h4>
                <h5><a href="https://cmaiq.com/"  target="_blank">cmaiq.com</a></h5>
                <p>or e-mail</p>
                <h5><a href="mailto:info@cmaiq.com" target="_blank">info@cmaiq.com</a></h5>
            </div>
          </div>
        </div>
        <h6>All comparisons and accuracy represented for calendar year 2018. MLS data provided to cmaIQ Data Analytics LLC by Charleston Trident Association of
          REALTORS® through CTMLS to licensed affiliates with MLS Data Sharing Agreement only.</h6>
      </div>
    </div>
  </div>
</div>