// new APC Color Scheme
// $primary : #e7e7e7;
// $secondry: #707275;
// $white :#ffffff;

$lightGreen: #C0C0C0;
$darkGreen: #C0C0C0;
$primary :#87CEEB;
$secondry:#87CEEB;
$grey: #C0C0C0;
$deepGray: #C0C0C0;
$silver: #C0C0C0;
$white : #ffffff;
$black : #000000;
$focus: #017ca8;
$red: #ff0000;
$green: green;
$lightGray: #e5e5e5;