<div class="Dashboard">
  <mat-sidenav-container class="Dashboard_Sidenav" autosize>

    <mat-sidenav #sidenav class="Dashboard_Sidenav_Example" [ngClass]="status ? 'slideOn' : 'slideOff'" mode="side"
      opened="true">
      <mat-toolbar class="example-toolbar">
        <mat-icon class="navtoggle" (click)="toggle()">menu</mat-icon>
        <span class="example-fill-remaining-space"></span>
      </mat-toolbar>
      <app-left-sidebar></app-left-sidebar>
    </mat-sidenav>

    <div class="DashboardTab">
      <mat-card>
        <app-admin-header></app-admin-header>
      </mat-card>
      <mat-card>
        <app-edit-profile></app-edit-profile>
      </mat-card>
    </div>
  </mat-sidenav-container>
</div>
<!-- <div class="loaderWrraper"  *ngIf="loader">
    <div class="loader">
      <div class="outCircle">
        <div class="icon">
          <i class="pi pi-home"></i>
        </div>
      </div>
    </div>
    </div> -->
